HSM_PORT=1500
HSM_HEADER=
HSM_KEY=deadbeefdeadbeefdeadbeefdeadbeef
HSM_DEBUG=false
HSM_SKIP_PARITY=false
HSM_APPROVE_ALL=false
HSM_MAX_CONNECTIONS=1000
HSM_IDLE_TIMEOUT=30.0
HSM_ENABLE_KEEPALIVE=true

